<!-- <div>
    <header class="bg-body-tertiary">
      <div class="main">
        <div class="logo" style="height: 62px;"><img style="height: 100%;" src="../../assets/background/bg-img.png" alt=""></div>
        <div style="display: flex;">
          <button class="menu-toggle btn btn-info" (click)="toggleMenu()">
            <i class="fas fa-bars"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M1 2.75A.75.75 0 0 1 1.75 2h12.5a.75.75 0 0 1 0 1.5H1.75A.75.75 0 0 1 1 2.75Zm0 5A.75.75 0 0 1 1.75 7h12.5a.75.75 0 0 1 0 1.5H1.75A.75.75 0 0 1 1 7.75ZM1.75 12h12.5a.75.75 0 0 1 0 1.5H1.75a.75.75 0 0 1 0-1.5Z"></path></svg></i>
          </button>
        </div>
      </div>
      <div class="nav-div">
        <nav class="navbar">
          <ul class="nav-links list-group" [class.open]="isMenuOpen">
            <li class="list-group-item list-group-item-info d-flex justify-content-center"><a [routerLink]="['manageAccount']">مدیریت کاربران</a></li>
            <li class="list-group-item list-group-item-info d-flex justify-content-center"><a [routerLink]="['manageBranches']">مدیریت شعب</a></li>
            <li class="list-group-item list-group-item-info d-flex justify-content-center"><a href="#">تنظیمات</a></li>
            <li class="list-group-item list-group-item-info d-flex justify-content-center"><a href="#">صفحه اصلی</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </div> -->


<nav class="navbar navbar-expand-lg bg-light shadow-lg">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" class="logo img-fluid" alt="">
            <span>
              Sana FoodCourt
              <small>SSG Group</small>
            </span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link click-scroll" [routerLink]="['add-branch']">شعب</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" [routerLink]="['manageAccount']">کاربران</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="index.html#section_3">تنظیمات</a>
                </li>

                <!-- <li class="nav-item dropdown">
                    <a class="nav-link click-scroll dropdown-toggle" href="index.html#section_5" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">News</a>

                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                        <li><a class="dropdown-item" href="news.html">News Listing</a></li>

                        <li><a class="dropdown-item" href="news-detail.html">News Detail</a></li>
                    </ul>
                </li> -->
                <li class="nav-item ms-3">
                    <a class="nav-link custom-btn custom-border-btn btn" href="donate.html">خروج</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<router-outlet></router-outlet>