<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\7.0.202\DotnetTools\dotnet-watch\7.0.202-servicing.23128.1\tools\net7.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;c:\program files\microsoft visual studio\2022\enterprise\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44320/SepidzWebLocal/,ws://localhost:55851/SepidzWebLocal/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA8naWfht/VmTbD9HCpmgUzUInHFXj81BkEY9MVif5IUvWUvbaDteoK7p6g3HWI0evu6lLd//tWA0kX9f3v6Tj0rZkQYSDrR+dY495pzyoiOCwGaf3wICtmY22oBjkzfI0bNCBYaz54Jj/7KQLSy8Z9UD+RdOATFjF9Q25t1EFF19RtMnNa7iZgwURhhFVJVJrqqRgzcH0LsO9zk+hqOg0gaxRxruWNlbZSC22XDbAiOUH9GO2JEyBNA4Jhze+8RJ8Z2v3pEOyP22WXKo2yGV3GqSWHWb+HQdlgXHqcEUSsE46WMe36fNwf0k8CSGUIRMFYco9ov+tDv5uKzOj4CpuNQIDAQAB" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
          <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="3fe20543-9961-49fe-bfb2-ba5cdcdda3a4" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>